@tailwind base;
@tailwind components;
@tailwind utilities;
/* General */
img {
  max-height: 100%;
}
input,
textarea,
select {
  /* @apply to use tailwind else normal css */
  @apply border border-gray-200 rounded-md w-full mb-2 px-3 py-2;
  @apply shadow-inner
}
input:hover,
textarea:hover,
select:hover {
  /* @apply to use tailwind else normal css */
  @apply border border-gray-200 rounded-md w-full mb-2 px-3 py-2;
  @apply shadow-lg
}
input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}
h1 {
  @apply text-gray-800 mb-6 text-xl;
}
label {
  @apply text-gray-600 text-sm;
}
.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-md;
}
table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}
table.basic thead tr th,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
table.basic tr td {
  @apply px-4 py-1;
}
table.basic a {
  @apply text-white px-4 py-1 rounded-md inline-flex mx-1 items-center gap-1 bg-gray-700 text-sm
  /* bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1; */
}
table.basic a.btn-delete {
  @apply bg-red-700 
  /* bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1; */
}
/* delete */
.btn-delete {
  @apply bg-red-900
}
.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md;
}
.btn-red {
  @apply bg-red-800 text-white;
}
.btn-default {
  @apply bg-gray-600 text-white ;
}


/* ProductForm upload */
.btn-upload:hover {
  @apply border bg-gray-500 text-white cursor-pointer scale-105 transition-all; 
}
.uploaded-img:hover {
  @apply shadow-lg scale-105 cursor-pointer transition-all;
}

/* Category */
.btn-general:hover {
  @apply scale-105 shadow-md
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
